<!--
/*
* File: researcher.component.html
* Author: Lapis Péter
* Copyright: 2026, Lapis Péter
* Group: SzoftII-E
* Date: 2026-02-15
* Github: https://github.com/lapispeter/
* Licenc: MIT
*/
-->

<h1>Kutatók</h1>

<button class="btn btn-primary"
(click)="startAddResearcher()">Hozzáadás</button>

<table class="table table-striped table-success">
    <thead>

        <tr>
            <th>Id</th>
            <th>Név</th>
            <th>Kutatási terület</th>
            
        </tr>


    </thead>

    <tbody>
        @for(researcher of researchers; track researcher.id) {
            <tr>
                <td>{{researcher.id}}</td>
                <td>{{researcher.full_name}}</td>
                <td>{{researcher.specialization}}</td>
            </tr>
        }

    </tbody>

</table>




@if(showModal) {
    <div class="modal" tabindex="-1" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
            @if(addMode) {
                Hozzáadás
            }
            @else {
                Módosítás
            }
        </h5>
        <button type="button" class="btn-close" 
        aria-label="Close"
        (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="researcherform" (ngSubmit)="save()"
        id="researcherform">


            <div class="mb-3">
                <label for="full_name" class="col-form-label">Név:</label>
                <input type="text" class="form-control" id="full_name" formControlName="full_name">
            </div>
            <div class="mb-3">
                <label for="specialization" class="col-form-label">Kutatási terület:</label>
                <input type="text" class="form-control" id="specialization" formControlName="specialization">
            </div>



        </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
        (click)="closeModal()">Bezárás</button>

        <button type="submit" class="btn btn-primary" form="researcherform">Mentés</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show"></div>

}